/* body{
    font-family: 'Lato-Regular';
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom, #144995, #0063a4, #0079a0, #008b8e, #009a77);
    opacity: 0.6;
    z-index: 1;
}

.headerImage header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom, #144995, #0063a4, #0079a0, #008b8e, #009a77);
    opacity: 0.6;
    z-index: 1;
} */

.seperator-background {
    position: relative;
    height: 200px;
    padding-left: 0px !important;
    background-size: cover;
} 

.seperator-background .seperator-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    min-height: 200px;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
    letter-spacing: 3px;
}

.seperator-subtitle {
    color: #fff;
    font-family: 'Lato-Light';
    font-size: 22px;
    letter-spacing: 0.5px;
    text-align: center;
    z-index: 3
}

.seperator-subtitle b {
    font-family: 'Lato-Bold';
}

.header-title {
    font-family: 'Montserrat-ExtraBold';
    color: #fec71c;
    font-size: 6vw;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12vw;
    /* text-shadow: 3px 3px 7px rgba(68,68,68,0.84); */
}

.events-upcoming {
    font-family: 'Lato-Light';
    padding-top: 30px;
    letter-spacing: 0.4px;
}

.events-title {
    font-family: 'Lato-Regular';
    font-size: 20px;
    padding-top: 30px;
}

.events-search {
    font-family: 'Lato-Regular';
    padding-top: 10px;
}

.upcoming-events-title {
    font-family: 'Lato-Light';
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 0.4px;
}

.events-separator {
    cursor: pointer;
    position: relative;
    height: 300px;
    padding-left: 0px !important;
    background-size: cover;
  }

.events-separator .events-separator-overlay {
    background-color: #fec71c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    min-height: 300px;
    width: 100%;
    z-index: 1;
    opacity: 0.6;
    letter-spacing: 3px;
    transition: 0.5s cubic-bezier(1,.01,.54,.55);
  }

.events-separator-title {
    z-index: 3;
    color: snow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-weight: 400;
	letter-spacing: 0.5px;
  }

.events-date {
    font-family: 'Lato-Light';
    font-size: 12px;
    color: #525252;
}

.events-view {
    font-family: 'Lato-Light';
    font-size: 12px;
    color: #525252;
}

.register-button {
    border-radius: 20px;
}

.upcoming-events-hr {
    border: 1px solid black
}

.upcoming-events-list {
    padding-top: 30px;
}

.events-countdown {
    font-family: 'Lato-Bold';
    font-size: 25px;
    color: #525252;
}

.events-header {
    padding-top: 20px;
    font-family: 'Lato-Light';
    color: #144995;
}

.events-header b {
    font-weight: 700;
    letter-spacing: 0.4px;
}

.events {
    display: flex;
    flex-direction: column;
}

.events-content {
    flex: 1 0 auto;
    font-family: 'Lato-Regular';
    color: #525252;
    font-weight: 600;
}

.events-footer {
    /* display: flex; */
    /* align-items: center; */
    padding: 10px;
    margin-left: 10px;
    padding-bottom: 0;
}

.news-title {
    font-family: 'Lato-Bold';
    font-size: 18px;
}

.news-content {
    font-family: 'Lato-Light';
    font-size: 15px;
}

.news-all {
    font-size: 18px;
}

@media screen and (max-width: 600px) {   
    .newsContent:hover {
        background-color: #525252;
        transition: 0.5s;
    }

    .card-events-countdown{
        margin-top: 2vh;
    }
}

@media (max-width: 800px) {
    .newsContent .overlayNewsContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 100%;
        color: white;
        z-index: 1;
        padding: 5%;
        letter-spacing: 3px;
    }

    .imgNewsContent{
        min-width: 100%;
        margin: 3%;
	    opacity: 0.9;
    }
}