/* cover atas */
#apppage .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    from(rgba(42, 27, 161, 0.7)),
    to(rgba(29, 210, 177, 0.7))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
}

#apppage .view {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 60vh;
  border-radius: 15px;
}

#apppage h6 {
  line-height: 1.7;
}
@media only screen and (max-width: 400px) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}
@media only screen and (max-width: 767px) {
  #apppage .animated img {
    max-height: 35vh;
    transform: translateX(-50%);
    left: 50%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  #apppage .animated img {
    max-height: 50vh;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  #apppage .view {
    min-height: 150vh;
  }
}
.card {
  margin-bottom: 10px;
}
.card2 {
  margin-right: 20px;
  border: 0;
  border-radius: 15px 0 15px 0;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
}
.card2 .card-img {
  border-radius: 15px 0 0 0;
  display: block;
  max-width: 100%;
  height: 100%;
}
.card2 .card-socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 10px;
  right: -20px;
  z-index: 1;
}
.card2 .card-socials a {
  display: block;
  border-radius: 15px 0 15px 0;
  border: 2px solid #ccd9ff;
  width: 40px;
  height: 40px;
  background: #00897b;
  color: #fff;
  line-height: 40px;
  text-align: center;
  transition: 0.3s;
}
.card2 .card-socials a:not(:last-of-type) {
  margin-bottom: 10px;
}
.card2 .card-socials a:hover {
  background: #028090;
  transform: scale(1.15);
}
/* END CARD */

.TextEvent {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  display: inline-block;
  position: relative;
}
.TextEventCenter {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.TextEvent1 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  text-indent: 30px;
  text-align: justify;
  margin-right: 10px;
}
.gallery {
  width: 100%;
  margin: 2rem auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-item {
  box-shadow: 10px 10px 8px -2px #3498db;
  margin: 15px 10px 15px;
  width: 300px;
  height: 320px;
  position: relative;
}

.gallery-item-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightblue;
  z-index: 20;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  bottom: 0;
  overflow: hidden;
}

.gallery-item:hover .gallery-item-image {
  bottom: 80px;
  margin-bottom: 30px;
}

.gallery-item-description {
  color: white;
  font-size: 0.8rem;
  width: 100%;
  height: 120px;
  padding: 0.9rem 0.9rem;
  background: #3498db;
  position: absolute;
  bottom: 0;
}

.Portfolio {
  margin: 5px;
}

.Portfolio img {
  border-radius: 5px;
}

.desc {
  padding: 5px;
  text-align: center;
  font-size: 90%;
  background: black;
  color: hotpink;
}

.nav {
  padding: 20px;
}

.nav li a {
  margin: 5px;
  padding: 15px 50px;
  font-size: 16px;
  color: hotpink;
  background: #000;
  transition-duration: 0.4s;
}
.nav a:hover {
  background: #333;
}
.nav .active {
  background-color: hotpink !important;
  color: #fff;
}
/* 12 */

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.text-btn {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.IconEvent {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

.cardsEvent {
  width: calc(100% - 2em);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "a a b c" "a a d d";
  width: 100%;
}
.cardEvent {
  width: 100%;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.cardEvent:last-child {
  margin-bottom: 0;
}
.cardEvent:before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 47.36%;
}
.cardEvent.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.cardEvent:nth-child(1) {
  grid-area: a;
}
.cardEvent:nth-child(2) {
  grid-area: b;
}
.cardEvent:nth-child(3) {
  grid-area: c;
}
.cardEvent:nth-child(4) {
  grid-area: d;
}
.cardEvent-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cardEvent-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cardEvent-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardEvent-label {
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  background: #089f8a;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  padding: 0.5em;
}
.cardEvent-title {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #d6dbeb;
  z-index: 5;
  font-size: 0.8em;
}
.cardEvent.form {
  position: relative;
}
.cardEvent.form:before {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
.cardEvent.form:after {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  content: "";
  background: #252833;
}
.cardEvent.form .form-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 7vw;
  font-weight: 900;
  z-index: 5;
  text-transform: uppercase;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
}
.cardEvent.form .form-title:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  content: "Sign Up";
  opacity: 0.5;
  filter: blur(10px);
  transition: all 0.25s ease;
  z-index: 2;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  transform: translateX(-50%) translateY(-50%);
}
.cardEvent:nth-child(2) .cardEvent-label {
  background: #ef4e7b;
}
.cardEvent:nth-child(3) .cardEvent-label {
  background: #1098ad;
}
.cardEvent:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
.cardEvent:hover .form-title:before {
  filter: blur(3px);
  opacity: 0.7;
}

