/* .navGallery {

} */

.title-nav-gallery {
    font-family: 'Montserrat-Medium';
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


.title-nav-gallery {
    cursor: pointer;
	height: 8vh;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
	transition: all 0.3s cubic-bezier(0, 0.50, 0, 0) 0s;
  }
  
  .title-nav-gallery:hover {
	width: 100%;
	height: 10vh;
  }

.round-button {
    display:block;
    width:80px;
    height:80px;
    line-height:80px;
    border: 2px solid #2A9AC4;
    border-radius: 50%;
    color:#2A9AC4;
    text-align:center;
    text-decoration:none;
    background: #777777;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background:#525252;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
    color: white;
}
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: ">\00a0";
}
ul.breadcrumb li a {
    color: rgb(182, 182, 182);
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #FFAB2D;
    text-decoration: none;
}

.titleContent {
    font-weight: bold;
    font-family: 'Rokkitt-Bold';
    font-size: 4rem;
}

.titleEventsContent {
    font-weight: bold;
    color:#3c3838;
    font-family: 'Rokkitt-Bold';
    font-size: 2rem;
}

.textContent {
    font-family: 'MerriweatherSans-Light';
}

.newsContent {
    position: relative;
    min-height: 100%;
    width: 100%;
    cursor: pointer;
}

.newsContent .overlayNewsContent {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
    padding: 5%;
    letter-spacing: 3px;
}

.img-gallery-content {
	max-width: 99%;
    min-width: 98%;
	opacity: 0.9;
    background-size: cover;
}

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}


.p1 a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }
  
.p1 a.is-active{
    background-color: #38567C;
    border-radius: 100%;
    color: #fff;
}

.p1 a:first-of-type{
    font-weight: medium;
    margin: auto 20px;
}

.p12 a{
    text-align: center;
    margin: auto 5px;
    border: solid 1px;
    border-color: #38567C;
}

.p12 a:first-of-type, .p12 a:last-of-type, .p12 .is-active{
    background-color: #38567C;
    color: #fff;
    font-weight: medium;
}

.p12 a:hover{
    color: #fff;
    background-color: #38567C;
}

.modalCustomClass {
    min-width: 900px;
}

.each-slide-gallery > div {
    padding: 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    max-height: 70vh;
  }
  
  .each-slide-gallery .content {
    text-align: start;
    text-indent: 5%;
  }

@media (min-width: 800px) {   
    .newsContent:hover {
        background-color: #525252;
        transition: 0.5s;
    }
}

@media (max-width: 800px) {
    .newsContent .overlayNewsContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 100%;
        color: white;
        z-index: 1;
        padding: 5%;
        letter-spacing: 3px;
    }

    .imgNewsContent{
        min-width: 95%;
	    opacity: 0.9;
    }
}