body {
	background:#fff;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}

.btn.btn-sm.indigo:hover{
  color: #fff;
}

.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}
.sectionPage {
  position: cover;
  width: 100%;
  height: 100%;
  top: -60px;
  margin-bottom: -10px;
}

.sectionPage::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('https://mdbootstrap.com/wp-content/uploads/2016/12/big-bundle1.jpg');
  background-position: center center;
  background-size: cover;
  filter: opacity(.1);
}


.col-separator-home {
  background-color:#2d2e2f;
  padding: 25px;
  height: 250px;
}

.colVerticalLine {
  background-color: #2d2e2f;
}

.sub-title-separator {
  color: snow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.vl-one {
  border-left: 3px solid rgb(23, 173, 179);
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.vl-two {
  border-left: 3px solid rgb(189, 144, 22);
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.vl-three {
  border-left: 3px solid rgb(179, 25, 84);
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.font-banner {
  font-family: 'Lato-Light';
  line-height: 1;
  font-size: 3.5rem;
  min-width: 15em;
}

.font-banner-tikomdik {
  font-family: 'Lato-Bold';
  line-height: 1;
  font-size: 3.5rem;
}

.bannerOne {
  position: absolute;
  z-index: 1;
	width: 100%;
}

.tabs-news {
  display: flex; 
  position: absolute;
  z-index: 2;
  margin-top: 209px;
  padding-left: 10rem;
  width: 90%;
}

.navLink1 {
  color: #fff;
  width: 150px;
  font-weight: 900;
  text-align: center;
  border-top-left-radius: .75rem !important;
  border-top-right-radius: .75rem !important;
  background-color:#fec71c !important;
  border-color:#fec71c !important;
}

.navLink2 {
  color: #fff;
  width: 150px;
  font-weight: 900;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border-top-left-radius: .75rem !important;
  border-top-right-radius: .75rem !important;
  background-color:#144995 !important;
  border-color:#144995 !important;
}

.navLink2:hover {
  color:#009a77;
}

.navLink3 {
  color: #fff;
  width: 150px;
  font-weight: 900;
  text-align: center;
  border-top-left-radius: .75rem !important;
  border-top-right-radius: .75rem !important;
  background-color:#009a77 !important;
  border-color:#009a77 !important;
}

.navLink3:hover {
  color:#fec71c;
}

.navLink1.active{
  background-color:#fec71c !important;
  border-color:#fec71c !important;
}

.navLink2.active{
  background-color:#144995 !important;
  border-color:#144995 !important;
}

.navLink3.active{
  background-color:#009a77 !important;
  border-color: #009a77 !important;
}

.textCaption {
  margin-top: 1rem;
  font-weight: bold;
  text-indent: 3rem;
}

.footer-card-home{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: space-between !important;
}

.my-about-div {
  min-width: 15%;
  max-height: 60%;
  margin-top: 5%;
  background-color:#009a77;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
}

.my-about-div h3 {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 35%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.about-box {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #fec71c #fff #fff #fff;
  justify-content: space-between;
}

.title-upcoming {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}

.title-upcoming .main-title {
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 10px;
}

.title-upcoming .sub-title {
  font-weight: bold;
  font-size: 4rem;
  background-color: #fec71c;
}

.rowTitle {
  position: absolute;
  z-index: 1;
}

.rowUpcomingEvents {
  display: flex; 
  position: absolute;
  z-index: 2;
}

.col-upcoming-events {
  cursor: pointer;
  position: relative;
  height: 40vh;
  padding-left: 0px !important;
  background-size: cover;
}

.col-upcoming-events .overlay-col-upcoming-events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
  letter-spacing: 3px;
}

.title-content-events {
  z-index: 3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 2.5rem;
}

.each-slide > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  min-height: 70vh;
}

.each-slide .content {
  padding: 10vh;
  text-align: start;
  text-indent: 5%;
}

.customToltips{
  justify-self: center;
  align-self: center;
}

.indicator {
  cursor: pointer;
  padding: 5px;
  width: 130px;
  text-align: center;
  border: 1px #edf0f2 solid;
  background-color: #edf0f2;
  margin: 2px;
  border-radius: 8px;
  opacity: 0.5;
}

.indicator.active {
  border: 1px #edf0f2 solid;
  background-color: #edf0f2;
  opacity: 0.9;
}

.imgUE {
  position: relative;
  height: 100%;
  padding-left: 0px !important;
  background-size: cover;
}

.col-gallery {
  cursor: pointer;
  position: relative;
  height: 25vh;
  padding-left: 0px !important;
  background-size: cover;
}

.col-gallery .overlay-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.8;
  letter-spacing: 3px;
}

.my-gallery-div {
  min-width: 15%;
  max-height: 50%;
  margin-top: 5%;
  background-color:#009a77;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 0px 10px 10px 0px;
}

.my-gallery-div h3 {
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 35%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}