
.news-jargon {
  background: linear-gradient(
    90deg,
    rgba(12, 116, 238, 1) 0%,
    rgba(12, 116, 238, 1) 26%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100%;
}
.news-jargon-text {
  padding-top: 5vh;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
	font-family: 'Montserrat-ExtraBoldItalic';
  font-size: 3.5rem;
  letter-spacing: 1px;
	line-height: 1.3;
  font-weight: 700;
  text-align: right;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
.news-jargon-text-tikom {
	font-family: 'Montserrat-ExtraBold';
  font-size: 2.5vw;
  margin-right: 50px;
  margin-left: 50px;
  letter-spacing: 0px;
  word-spacing: 0.2px;
  font-weight: 700;
  text-decoration: none;
  text-align: right;
  margin-top: -40px;
	line-height: 1.3;
  color: #ffffff;
}

.font-jargon-empowers-header {
	font-family: 'Montserrat-BoldItalic';
  text-align: right;
  margin-right: 50px;
  margin-left: 50px;
}
  
.font-jargon-empowers-header p {
	color: rgb(12, 116, 238);
	font-size: 1.5vw;
	background-color: #ffffff;
	padding-left: 1vw;
	padding-right: 1vw;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
}

.tag-new-news{
  font-family: 'Montserrat-Bold';
  font-size: 1.5vw;
}

.overlay-header-news {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color:#fec71c; */
  opacity: 0.5;
  z-index: 1;
}

.contents-header-news {
  position: relative;
  min-height: 100%;
  width: 100%;
  z-index: 2;
}

.NewsSearch {
  width: 70%;
  margin: auto;
  margin-top: 5px;
}
.NewsCol {
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  max-width: 100%;
  background-size: cover;
}
.card_1 {
  background-color: #e74c3c;
  border: 1px;
  width: 100%;
  margin-right: 5px;
}

.card_2 {
  background-color: #2ecc71;
  border: 1px;
  max-width: 100%;
  margin-right: 5px;
}

.card_3 {
  background-color: #3498db;
  border: 1px;
  width: 100%;
  margin-right: 5px;
}

.news-separator {
  cursor: pointer;
  position: relative;
  height: 35vh;
  padding-left: 0px !important;
  background-size: cover;
}

.news-separator-title {
  z-index: 3;
  color: snow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.news-separator .news-separator-overlay-yellow {
  background-color: #fec71c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  min-height: 35vh;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  letter-spacing: 3px;
  transition: 0.5s cubic-bezier(1,.01,.54,.55);
}

.news-separator-overlay-yellow:hover {
	background-color: transparent;
}

.news-separator .news-separator-overlay-green {
  background-color: #009a77;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  min-height: 35vh;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  letter-spacing: 3px;
  transition: 0.5s cubic-bezier(1,.01,.54,.55);
}

.news-separator-overlay-green:hover {
	background-color: transparent;
}

.news-separator .news-separator-overlay-blue {
  background-color: #164d9f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  min-height: 35vh;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  letter-spacing: 3px;
  transition: 0.5s cubic-bezier(1,.01,.54,.55);
}

.news-separator-overlay-blue:hover {
	background-color: transparent;
}

@media screen and (max-width: 600px) {
  .news-jargon-text {
    padding-top: 5vh;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Montserrat-ExtraBoldItalic';
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 700;
    text-align: right;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
  }
  .news-jargon-text-tikom {
    font-family: 'Montserrat-ExtraBold';
    font-size: 3.5rem;
    margin-right: 50px;
    margin-left: 50px;
    letter-spacing: 0px;
    word-spacing: 0.2px;
    font-weight: 700;
    text-decoration: none;
    text-align: right;
    margin-top: -40px;
    line-height: 1.3;
    color: #ffffff;
  }
  
  .font-jargon-empowers-header {
    font-family: 'Montserrat-BoldItalic';
    text-align: right;
    margin-right: 50px;
    margin-left: 50px;
  }
    
  .font-jargon-empowers-header p {
    color: rgb(12, 116, 238);
    font-size: 1.5rem;
    background-color: #ffffff;
    padding-left: 1vw;
    padding-right: 1vw;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
  }
  
  .tag-new-news{
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
  }
  
  .card-side-programs{
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }
}