.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.header-image {
    border: 0px;
}

.header-image header {
    position: relative;
    background-color: black;
    height: 78vh;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
  
.header-image header .custom-img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.header-image header .contents {
    position: relative;
    min-height: 100%;
    width: 100%;
    z-index: 2;
}

.header-image header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color:#fec71c; */
    opacity: 0.5;
    z-index: 1;
}

.title-header {
    font-family: 'Montserrat-Bold';
    color: #fff;
    font-size: 6vw;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12vw;
    text-shadow: 3px 3px 7px rgba(68,68,68,0.84);
}
  

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

header {
	position: relative;
	background-color: black;
	height: 76.5vh;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: absolute;
	top: 50%;
	left: 65%;
	max-width: 70%;
	max-height: 70%;
	width: auto;
	height: auto;
	z-index: 1;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .contents {
	content: "";
	position: absolute;
	z-index: 2;
	min-height: 100%;
	min-width: 70%;
	justify-content: center;
	align-items: center;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:#fff;
	opacity: 1;
	z-index: 1;
  }

.example-components-list li > a {
  color: #495057;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
}

button.rounded-warning {
	padding:0.6em 3em;
	border-radius: 24px ;
	color:#0c3974;
	background-color:#fdc926;
	font-size:1.2em;
	border:0;
	font-weight: bold;
	cursor:pointer;
	margin-top:1em;
}

button.rounded-warning.long-width {
	width: 15em;
}

button.rounded-warning:hover {
	transition: 0.5s;
	box-shadow: 5px 5px 5px grey;
}

.padding-null {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.hrWhite { 
	display: block; 
	height: 1px;
    border: 0; 
	border-top: 1px solid #ccc;
    margin: 1em 0; 
	padding: 0; 
}

.footerCopy {
	font-size: 16px;
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.titleFooter {
	font-size: 24px;
	letter-spacing: 1px;
	word-spacing: 0px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.listContentFooter li {
	padding-top: 5px;
}

.listContentFooter a {
	font-size: 16px;
}

.listContentFooter a:hover {
	color: gold;
}

.moving-text {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 60%;
	text-align: center;
  }

  .corrousel-render-phone{
	position: relative;
	top: -60px;
	color: black;
	opacity: 0.7;
	margin-bottom: -100px;
  }

/** Hover-related CSS **/
.titleNav {
	text-decoration: none;
	position: relative;
  }

  .titleNav:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #fdc926;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
	transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  .titleNav:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 12px 18px;
        outline: 0;
        border: 1px solid #000000;
        border-radius: 8px;
        background: #ffffff;
        color: #222222;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #ffffff;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.imgOverlayContent {
	min-width: 100%;
}

.col-separator {
	cursor: pointer;
	position: relative;
	height: 300px;
	padding-left: 0px !important;
	background-size: cover;
  }
  
  .col-separator .overlay-col-separator-yellow {
	background-color: #fec71c;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	min-height: 300px;
	width: 100%;
	z-index: 1;
	opacity: 0.6;
	letter-spacing: 3px;
	transition: 0.5s cubic-bezier(1,.01,.54,.55);
  }
  
  .overlay-col-separator-yellow:hover {
	background-color: transparent;
  }

  .col-separator .overlay-col-separator-blue {
	background-color: #164d9f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	min-height: 300px;
	width: 100%;
	z-index: 1;
	opacity: 0.6;
	letter-spacing: 3px;
	transition: 0.5s cubic-bezier(1,.01,.54,.55);
  }
  
  .overlay-col-separator-blue:hover {
	background-color: transparent;
  }

  .col-separator .overlay-col-separator-green {
	background-color: #009a77;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	min-height: 300px;
	width: 100%;
	z-index: 1;
	opacity: 0.6;
	letter-spacing: 3px;
	transition: 0.5s cubic-bezier(1,.01,.54,.55);
  }
  
  .overlay-col-separator-green:hover {
	background-color: transparent;
  }

  .col-separator-subtitle {
	z-index: 3;
	color: snow;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	font-weight: 700;
  }

  
/* Jargon */

.line-paragrap-jargon {
	line-height: 1.0;
  }
  
  .font-jargon {
	font-family: 'Montserrat-ExtraBoldItalic';
	font-size: 8vw;
	color: #e5e5e5;
  }
  
  .margin-jargon-right {
	text-align: right;
	margin-right: 13%;
  }
  
  .marginJargonLeft {
	text-align: left;
	margin-left: 13%;
  }
  
  .font-jargon-tikom {
	font-family: 'Montserrat-ExtraBold';
	font-size: 8vw;
	color: #e5e5e5;
  }
  
  .font-jargon-empowers {
	text-align: end;
	font-family: 'Montserrat-BoldItalic';
	color: #fff;
  }
  
  .font-jargon-empowers p {
	font-size: 4.5vw;
	background-color: #e5e5e5;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
  }

  
@media screen and (max-width: 600px) {
	.news-jargon-text {
	  padding-top: 3vh;
	  margin-bottom: 50px;
	  margin-right: 50px;
	  margin-left: 50px;
	  font-family: 'Montserrat-ExtraBoldItalic';
	  font-size: 2.5rem;
	  letter-spacing: 1px;
	  line-height: 1.3;
	  font-weight: 700;
	  text-align: right;
	  border-bottom: 2px solid #ffffff;
	  color: #ffffff;
	}
	.news-jargon-text-tikom {
	  font-family: 'Montserrat-ExtraBold';
	  font-size: 3rem;
	  margin-right: 50px;
	  margin-left: 50px;
	  letter-spacing: 0px;
	  word-spacing: 0.2px;
	  font-weight: 700;
	  text-decoration: none;
	  text-align: right;
	  margin-top: -40px;
	  line-height: 1.3;
	  color: #ffffff;
	}
	
	.font-jargon-empowers-header {
	  font-family: 'Montserrat-BoldItalic';
	  text-align: right;
	  margin-right: 50px;
	  margin-left: 50px;
	}
	  
	.font-jargon-empowers-header p {
	  color: rgb(12, 116, 238);
	  font-size: 1.5rem;
	  background-color: #ffffff;
	  padding-left: 1vw;
	  padding-right: 1vw;
	  clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
	}
  
	.tag-new-news{
	  font-family: 'Montserrat-Bold';
	  font-size: 1rem;
	}

	.font-jargon {
		font-family: 'Montserrat-ExtraBoldItalic';
		font-size: 3rem;
		color: #e5e5e5;
	}

	.font-jargon-tikom {
		font-family: 'Montserrat-ExtraBold';
		font-size: 3rem;
		color: #e5e5e5;
	}

	.font-jargon-empowers p {
		font-size: 1.5rem;
		background-color: #e5e5e5;
		padding-left: 3vw;
		padding-right: 3vw;
		padding-top: 1.3rem;
		padding-bottom: 1.3rem;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
	}

	.margin-side {
		margin-left: 3vw;
		margin-right: 3vw;
	}
  }
  
  /* END CSS Jargon */

  .embedded-video-16-9 {
	width: 90vw;
	height: 50.625vw; /* 90*9/16 */
	margin-left: 5vw;
	margin-right: 5vw;
  }
  
  @media (min-width: 893px) {
	.embedded-video-16-9 {
	  width: 32vw;
	  height: 25.3125vw; /* 45*9/16 */
	  margin-left: 1vw;
	  margin-right: 1vw;
	}

	.grid-home-events{
		width: 100%;
	}
  }

  

.indicator-custom {
	cursor: pointer;
	padding: 5px;
	width: 5px;
	text-align: center;
	border: 1px #edf0f2 solid;
	background-color: #c7c7c7;
	margin: 2px;
	border-radius: 8px;
	opacity: 0.5;
	transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  }
  
  .indicator-custom.active {
	width: 50px;
	border: 1px #edf0f2 solid;
	background-color: #fec71c;
	opacity: 0.9;
  }

.impression-title {
    font-family: 'Lato-Regular';
    font-size: 20px;
    padding-top: 30px;
	letter-spacing: 2pt;
}

.impression-search {
    font-family: 'Lato-Regular';
    padding-top: 10px;
}

.each-slide-header > div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    max-width: 100vh;
	height: 76.5vh;
}
  
.each-slide-header .content {
    text-align: start;
    text-indent: 5%;
}

.title-detail-content h1 {
	  font-family: 'Montserrat-Light';
	  color: #164d9f;
	  letter-spacing: 0.3rem;
	  font-size: 3rem;
}

.subtitle-detail-content{
	font-family: 'Montserrat-Light';
	font-size: 0.9rem;
	color: #7c7c7c;
}

.side-menu-card .title {
	font-family: 'Montserrat-SemiBold';
	font-size: 1.3rem;
}

.side-menu-card .content {
	font-family: 'Montserrat-Light';
	font-size: 0.9rem;
	display: block;
}

.side-menu-card .link-more {
	font-family: 'Montserrat-Light';
	font-size: 0.8rem;
	font-style: italic;
	color: rgb(250, 78, 78);
}
/* Merriweather */
@font-face {
	font-family: 'MerriweatherSans-Regular';
	src: local('MerriweatherSans'), url(./assets/fonts/MerriweatherSans/MerriweatherSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'MerriweatherSans-Light';
	src: local('MerriweatherSans'), url(./assets/fonts/MerriweatherSans/MerriweatherSans-Light.ttf) format('truetype');
}

/* Lato */
@font-face {
	font-family: 'Lato-Regular';
	src: local('Lato'), url(./assets/fonts/Lato/Lato-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Lato-Light';
	src: local('Lato'), url(./assets/fonts/Lato/Lato-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Lato-Bold';
	src: local('Lato'), url(./assets/fonts/Lato/Lato-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Lato-BoldItalic';
	src: local('Lato'), url(./assets/fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
}

/* Montserrat */
@font-face {
	font-family: 'Montserrat-Black';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-Black.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-BlackItalic';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-BlackItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-BoldItalic';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-BoldItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-ExtraBoldItalic';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-Light';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: local('Montserrat'), url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
}